.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #ece2e2;
    border: 1px solid #ccc;
    z-index: 1;
  }

  .producto-container {
  text-align:center;
  margin-bottom: 35px;
  display: inline-block;
  width: 30%;
  margin-right: 3%;
  font-size:small !important;
  }

  .producto-container img {
    max-width: 30%; 
    height: auto;
  }

  .button-container {
  margin-top: 60px;
}

.button-container button {
  margin: 2 auto;
  display: block;
  background-color: #14ac37 !important;
}